[user]
	name = Sergey Eliseev
	email = gafnium@yandex-team.ru
[core]
  editor = vim
	fscache = true
	preloadindex = true
	longpaths = true
[color]
	diff = auto
	status = auto
	branch = auto
[alias]
  co = checkout
  ci = commit
  st = status
  br = branch
  hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
  type = cat-file -t
  dump = cat-file -p
  up = pull --rebase
  p = push origin HEAD
  dc = diff --cached
  
[credential]
	helper = cache --timeout=3600000
[branch "master"]
	rebase = true
	merge = master
	remote = origin
[branch]
	autosetuprebase = always
[http]
	cookiefile = /Users/gafnium/.gitcookies
